<!DOCTYPE html>
<html lang="ja">
  <head>
  <meta charset="UTF-8">
  <title>aika</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
  <style>
  html,body{
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1,h2,h3,p{
    text-align: center;
    margin: 0 auto;
  }
  h1{
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: -10px;
  }
  h2{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  table{
    width: 50vw;
    min-width: 500px;
    max-width: 800px;
    margin: 0 auto;
  }
  table, th, td {
    border-collapse: collapse;
    border: 1px solid #ccc;
    line-height: 1.5;
    text-align: left;
  }
  table th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    background: #3f3f3f;
    color: #ffffff;
  }
  table td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
  }
  .btn-gradient-radius {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
  }

  .btn-gradient-radius:hover {
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
  }
  </style>
  </head>
  <body>
    <h1><%= @meeting.title %></h1>
    <h2><%= @start_time %></h2>
    <p style="margin-top:10px"><a href="<%=@meeting.link %>" class="btn-gradient-radius">会議に参加する</a></p>
    <div>
    <h2 style="margin-top:20px">アジェンダ</h2>
      <table>
        <tbody>
        <tr class="head">
          <th style="width:15%">開始時間</th>
          <th style="width:15%">所用時間</th>
          <th style="width:70%">内容</th>
        </tr>
          <% @meeting.agendas.each_with_index do |agenda, i| %>
            <tr>
              <td><%= @agenda_times[i] %></td>
              <td><%= agenda.duration %>m</td>
              <td class="agenda_title"><%= agenda.title%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>